@model RegistroViewModel
@using Wallaboo.Entities
@{
    ViewData["Title"] = "Registro";
}

<h1>Regístrate</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Registro" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NombreComercial" class="form-label"></label>
                <input asp-for="NombreComercial" class="form-control" />
                <span asp-validation-for="NombreComercial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DireccionComercial" class="form-label"></label>
                <input asp-for="DireccionComercial" class="form-control" />
                <span asp-validation-for="DireccionComercial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TelefonoComercial" class="form-label"></label>
                <input asp-for="TelefonoComercial" class="form-control" />
                <span asp-validation-for="TelefonoComercial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DescripcionComercial" class="form-label"></label>
                <input asp-for="DescripcionComercial" class="form-control" />
                <span asp-validation-for="DescripcionComercial" class="text-danger"></span>
            </div>
            @*COMIENZO DE COMBOS*@

            <div>
                <label asp-for="PaisId" class="form-label"></label>               
                <select id="Countries" name="_pais">
                    <option value="">Seleccione pais</option>
                        @foreach (var pais in Model.ListaPaises)
                        {
                            <option value=@pais.id>@pais.NombrePais</option>
                        }
                </select>
                <span asp-validation-for="PaisId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ProvinciaId" class="form-label"></label>
                <select id="States" name="_provincia">
                    <option value="">Seleccione Provincia</option>
                </select>
                <span asp-validation-for="ProvinciaId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="CiudadId" class="form-label"></label>
                <select id="Cities" name="_ciudad">
                    <option value="">Seleccione Ciudad</option>
                </select>
                <span asp-validation-for="CiudadId" class="text-danger"></span>
            </div>
            <br />
            <br />
            <button class="btn-primary btn">Regístrate</button>
            @* <a class="btn btn-success" asp-action="login">Ingresar</a> *@
        </form>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Countries').change(function () {
            var countryId = $(this).val();
            $.getJSON('@Url.Action("GetStates")', { countryId: countryId }, function (states) {
                var statesSelect = $('#States');
                statesSelect.empty();
                    var citiesSelect = $('#Cities');
                    citiesSelect.empty();
                $.each(states, function (index, state) {
                    statesSelect.append($('<option/>', {
                        value: state.value,
                        text: state.text
                    }));
                });
            });
        });
        $('#States').change(function () {
            var stateId = $(this).val();
            $.getJSON('@Url.Action("GetCities")', { stateId: stateId }, function (cities) {
                var citiesSelect = $('#Cities');
                citiesSelect.empty();
                $.each(cities, function (index, city) {
                    citiesSelect.append($('<option/>', {
                        value: city.value,
                        text: city.text
                    }));
                });
            });
        });
    });
</script>

}
