@model RegistroViewModel
@{
    ViewData["Title"] = "Registro";
    var types = ViewBag.PaisList as List<SelectListItem>;
    var subtypes = ViewBag.SubTypesList as List<SelectListItem>;
}

<h1>Regístrate</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NombreComercial" class="form-label"></label>
                <input asp-for="NombreComercial" class="form-control" />
                <span asp-validation-for="NombreComercial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DireccionComercial" class="form-label"></label>
                <input asp-for="DireccionComercial" class="form-control" />
                <span asp-validation-for="DireccionComercial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TelefonoComercial" class="form-label"></label>
                <input asp-for="TelefonoComercial" class="form-control" />
                <span asp-validation-for="TelefonoComercial" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DescripcionComercial" class="form-label"></label>
                <input asp-for="DescripcionComercial" class="form-control" />
                <span asp-validation-for="DescripcionComercial" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Pais" class="form-label"></label>
                <select asp-for="Pais" class="form-control">
                    @foreach (var pais in Model.ListaPaises)
                    {
                        <option value=@pais.id>@pais.NombrePais</option>
                    }
                </select>
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Provincia" class="form-label"></label>
                <select asp-for="Provincia" class="form-control">
                    @foreach (var provincia in Model.ListaProvincias)
                    {
                        <option value=@provincia.id>@provincia.NombreProvincia</option>
                    }
                </select>
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Ciudad" class="form-label"></label>
                <select asp-for="Ciudad" class="form-control">
                    @foreach (var ciudad in Model.ListaCiudades)
                    {
                        <option value=@ciudad.Id>@ciudad.NombreCiudad</option>
                    }
                </select>
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <br />
            <br />
            <button class="btn-primary btn">Regístrate</button>
            @* <a class="btn btn-success" asp-action="login">Ingresar</a> *@
        </form>
    </div>
</div>
@* <div>
    <h3>Países</h3>
    <ul>
        @foreach (var pais in Model.ListaPaises)
        {
            <li>@pais.NombrePais</li>
        }
    </ul>
</div> *@


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
