@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de cambio de contarseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su clave ha sido cambiada. Por favor <a asp-page="./Login">click aqui para ingresar</a>.
</p>
