@model AnuncioViewModel

@{
    ViewData["Title"] = "Crea un nuevo Anuncio";
}

<div>
    <h3>Crear nuevo anuncio</h3>
    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {

        <form method="post" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Descripcion del Anuncio">
            </div>
            <div class="col-12">
                <input class="form-control" type="date" id="FechaDesde" name="FechaDesde" placeholder="Fecha Desde" asp-format="{0:dd-MM-yyyy}>
            </div>
            <div class="col-12">
                <input type="date" class="form-control" id="FechaHasta" name="FechaHasta" placeholder="Fecha Hasta" asp-format="{0:dd-MM-yyyy}">
            </div>
            <div class="col-12">
                <input type="number" class="form-control" id="Precio" name="Precio" placeholder="Precio">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Crear anuncio</button>
            </div>
        </form>
    }
    else
    {
        <p>Logueate para que puedas crear y visualizar productos!</p>
    }

</div>