@model HomeIndexViewModel

@{
    ViewData["Title"] = "Bienvenido a Wallaboo - Crea tu Anuncio";
}

<div class="text-center mb-4">
    <h2> Crea un nuevo anuncio</h2>
</div>

<div class="container d-flex justify-content-center">
    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <div class="col-md-8"> <!-- Colocamos el contenido dentro de una columna -->
@*             <h3 class="text-center">Gestión de Anuncios - Crea aquí tus anuncios</h3>
            <br /> *@
            <h5 class="alert text-danger">@ViewBag.Msg</h5>
            <form asp-action="Create" class="mt-4">
                <div class="row mb-3">
                    <div class="col-md-8">
                        <label asp-for="Descripcion" class="form-label"></label>
                        @Html.TextArea("Descripcion", null, new { @class = "form-control", rows = 4 }) <!-- Aumenta el tamaño del campo de descripción -->
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label asp-for="FechaDesde" class="form-label"></label>
                        <input asp-for="FechaDesde" class="form-control" />
                        <span asp-validation-for="FechaDesde" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="FechaHasta" class="form-label"></label>
                        <input asp-for="FechaHasta" class="form-control" />
                        <span asp-validation-for="FechaHasta" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label asp-for="Precio" class="form-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <input type="submit" value="Crear" class="btn btn-primary btn w-50" />
                    </div>
                    <div class="col-md-4">
                        <a asp-action="Index" class="btn btn-primary btn w-50">Inicio</a>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="text-center">
            <h3>¡Inicia sesión para crear y visualizar anuncios!</h3>
        </div>
    }
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
