@* @model Wallaboo.Entities.Anuncio *@
@model PagoViewModel

@{
    ViewData["Title"] = "Pagar";
}

<h2 class="align-content-center">Pagar anuncio</h2>


    @if (User.Identity is not null && User.Identity.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-4 bg-light">
            <form asp-action="Pay">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="amount" class="control-label"></label>
                    <input asp-for="amount" class="form-control" readonly="readonly" value=@ViewBag.Total />
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" readonly="readonly" value=@ViewBag.Texto/>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cardNumber" class="control-label"></label>
                    <input asp-for="cardNumber" class="form-control" type="number" maxlength="16" />
                    <span asp-validation-for="cardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="expirationMonth" class="control-label"></label>
                    <input asp-for="expirationMonth" class="form-control" inputmode="numeric"  maxlength="2"  min="1" max="12" />
                    <span asp-validation-for="expirationMonth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="expirationYear" class="control-label"></label>
                    <input asp-for="expirationYear" class="form-control" inputmode="numeric" maxlength="2" min="24" max="40" />
                    <span asp-validation-for="expirationYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cardholderName" class="control-label"></label>
                    <input asp-for="cardholderName" class="form-control" />
                    <span asp-validation-for="cardholderName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="securityCode" class="control-label"></label>
                    <input asp-for="securityCode" class="form-control" inputmode="numeric" maxlength="3" min="000" max=" 999"/>
                    <span asp-validation-for="securityCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input type="email" asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                @*             <div class="form-group">
                <label asp-for="Activo" class="control-label"></label>
                <input asp-for="Activo" class="form-control" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagado" class="control-label"></label>
                <input asp-for="Pagado" class="form-control" />
                <span asp-validation-for="Pagado" class="text-danger"></span>
            </div>  *@
                <div class="form-group">
                    <input type="submit" value="Pagar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index" class="btn btn-primary">Listado de Anuncios</a>
    </div>
        <h4 class="align-content-center">Los datos de su tarjeta no se guardarán en nuestros servidores</h4>
}
else
{
    <div class="text-center">
        <h3>Logueate para que puedas crear y visualizar anuncios!</h3>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        src = "https://sdk.mercadopago.com/js/v2";
        const mp = new MercadoPago("YOUR_PUBLIC_KEY");
    </script>
}

